<VirtualHost *:80>

	ServerName {{ virtualhost.web.hostname }}

	{% if virtualhost.web.aliases is defined %}
		{% if virtualhost.web.aliases[0] is defined %}
 			ServerAlias {% for alias in virtualhost.web.aliases %} {{ alias }}{% endfor %}
		{% endif %}
	{% endif %}	

	ServerAdmin {{ virtualhost.admin.email }}

	RewriteEngine On
 	RewriteRule (.*) https://{{ virtualhost.web.hostname }}$1 [L,R]

</VirtualHost>

<VirtualHost *:443>

	AssignUserId "{{ virtualhost.identifier }}" "{{ virtualhost.identifier }}"

	ServerName {{ virtualhost.web.hostname }}

	{% if virtualhost.web.aliases is defined %}
		{% if virtualhost.web.aliases[0] is defined %}
 			ServerAlias {% for alias in virtualhost.web.aliases %} {{ alias }}{% endfor %}
		{% endif %}
	{% endif %}

	ServerAdmin {{ virtualhost.admin.email }}

	{% if virtualhost.web.aliases is defined %}
		{% if virtualhost.web.aliases[0] is defined %}
			<If "%{HTTP_HOST} != '{{ virtualhost.web.hostname }}'">
				RewriteEngine On
				RewriteCond %{HTTP_HOST} !^$
				RewriteRule (.*) https://{{ virtualhost.web.hostname }}$1 [L,R]
			</If>
		{% endif %}
	{% endif %}

	DocumentRoot /var/www/{{ virtualhost.identifier }}/documentroot

	<Directory "/var/www/{{ virtualhost.identifier }}/documentroot">
    	AllowOverride All
	</Directory>

	ErrorLog /var/www/{{ virtualhost.identifier }}/logs/error.log
	CustomLog /var/www/{{ virtualhost.identifier }}/logs/access.log common

	SSLEngine on

	SSLCertificateFile /etc/letsencrypt/live/{{ virtualhost.web.hostname }}/cert.pem
	SSLCertificateKeyFile /etc/letsencrypt/live/{{ virtualhost.web.hostname }}/privkey.pem
	SSLCertificateChainFile /etc/letsencrypt/live/{{ virtualhost.web.hostname }}/chain.pem

	<FilesMatch "\.(cgi|shtml|phtml|php)$">
		SSLOptions +StdEnvVars
	</FilesMatch>

	SSLProxyEngine On
	ProxyPreserveHost On
	ProxyRequests Off

	ProxyPass /wss ws://localhost:{{ virtualhost.websocket.port }}/
	ProxyPassReverse /wss ws://localhost:{{ virtualhost.websocket.port }}/

</VirtualHost>