#!/usr/bin/env php
<?php

require_once 'utility.php';

$gitRepo = "{{ virtualhost.deploy.repository }}";

echo 'APP Deploy' . PHP_EOL;

$documentroot = __DIR__ . DIRECTORY_SEPARATOR . '..' . DIRECTORY_SEPARATOR . 'documentroot';

if (file_exists($documentroot)) {
    $oldAppState = set_env_value($documentroot . DIRECTORY_SEPARATOR . '.env', 'APP_STATE', 'MAINTENANCE');

	chdir($documentroot);

	if (!file_exists('.git')) {
		mod_exec('git clone "' . $gitRepo . '" .');
	}

	mod_exec('git checkout master');

	mod_exec('git pull');

	mod_exec('TAG=$(git tag | sort -rV | head -1) && git checkout "$TAG"');

	mod_exec('composer install');

	mod_exec('composer dump-autoload');

    set_env_value($documentroot . DIRECTORY_SEPARATOR . '.env', 'APP_STATE', $oldAppState);
} else {
    echo 'Missing directory ' . $documentroot . PHP_EOL;
}